/* inspired by https://dribbble.com/shots/14748778-Task-Manager-Mobile/attachments/6451843?mode=media */

:root {
  --background-hs: 216, 100%;
  --background-l: 98%;

  --text-hs: 240, 6%;
  --text-l: 17%;

  --accent-hs: 250, 31%;
  --accent-l: 47%;

  --accent-text-hs: 251, 24%;
  --accent-text-l: 93%;

  --radius: 8px;
  --strong-radius: calc(var(--radius) * 2);

  --background: hsl(var(--background-hs), var(--background-l));
  --background-border: hsl(
    var(--background-hs),
    calc(var(--background-l) - 3%)
  );
  --background-border-focused: hsl(
    var(--background-hs),
    calc(var(--background-l) - 15%)
  );
  --background-border-focused-shadow: hsla(
    var(--background-hs),
    calc(var(--background-l) - 15%),
    0.5
  );

  --text: hsl(var(--text-hs), var(--text-l));
  --text-disabled: hsla(var(--text-hs), var(--text-l), 0.2);
  --accent: hsl(var(--accent-hs), var(--accent-l));
  --accent-text: hsl(var(--accent-text-hs), var(--accent-text-l));
  --accent-border-focused: hsl(var(--accent-hs), calc(var(--accent-l) - 15%));
  --accent-border-focused-shadow: hsla(
    var(--accent-hs),
    calc(var(--accent-l) - 20%),
    0.5
  );

  --chrome: #fff;

  --fast-anim-delay: 200ms;
  --slow-anim-delay: 750ms;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  color: var(--accent);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
textarea,
select {
  border-radius: var(--radius);
  border: 1px solid var(--background-border);
  transition: 125ms border ease-in-out, 125ms box-shadow ease-in-out;
}

input:focus,
textarea:focus,
select {
  outline: 1px solid transparent;
  border: 1px solid var(--background-border-focused);
  box-shadow: 5px 5px 10px var(--accent-border-focused-shadow);
}

.selected-box {
  border-radius: var(--strong-radius);
  background-color: var(--accent);
  color: var(--accent-text);
}

section {
  background-color: #fff;
  border-radius: var(--strong-radius);
  color: var(--text);
  padding: 8px;
}

button,
input[type='file'],
input[type='submit'],
a.button {
  background-color: var(--accent);
  border-radius: var(--strong-radius);
  border: 1px solid transparent;
  color: var(--accent-text);

  padding: 16px;
  margin: 3px;

  transition: 125ms box-shadow ease-in-out;
}

a.button {
  /* NB: Compensate s.t. input buttons and link buttons are the same size */
  padding: 19px;
}

button:focus,
input[type='file']:focus,
input[type='submit']:focus,
a.button:focus {
  outline: 1px solid transparent;
  border: 3px solid var(--accent-border-focused);
  box-shadow: 5px 5px 10px var(--accent-border-focused-shadow);
  margin: 0;
}

input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}
